
\.emacs\.d
\.spacemacs\.before_ecb_2\.50
/.config/.ncmpcpp/error.log
/.config/mpd/log
.config/mpd/log

\.config/mpd/state

\.config/mpd/pid
/.config/mpv/watch_later/13AB0D2614969EFE70C38F82C0957DFC
/.config/mpv/watch_later/9F499767C1E72049EAD927CC571282F1
.config/mpd/database
